<!DOCTYPE html>
<html>
  <head>
    <title>slinky</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link rel="stylesheet" href="./static/css/style.css">
  </head>
  <body id="top">
    <div class="container">
      <div class="hero">
        <div class="logo is-center is-vertical-align">
          <img src="./static/img/logo.png">
          <h2>Short links, for everyone</h2>
          <h4><strong>Slinky</strong> - URL shortener. Now you no longer need to remember long URLs.</h4>
        </div>
      </div>
      <section id="shortener">
        <div class="card">
          <footer class="is-right">
            <input id="link" placeholder="Example: https://youlink.com/">&nbsp;
            <a id="submit" class="button outline primary" onclick="shorten()">Shorten</a>
          </footer>
        </div>
      </section>
      <br>
      <section id="shortener-result" style="display: none;">
        <div class="card is-center text-primary" id="result" style="font-size: 30px;">
        </div>
      </section>
    </div>
    <footer class="is-text-center">
      <h5>Made by <a href="https://github.com/KikyTokamuro" target="_blank">Kiky Tokamuro</a></h5>
    </footer>
    <script src="./static/js/script.js"></script>
  </body>
</html>